@import "./../../colors";
@import "./../../mixins";


.container-header {
    width: 100%;
    height: 61px;
    top: 0;
    position: fixed;
    background-color: $background-color-nav;
    color: $color-main;
    z-index: 2;
  }
  
  .nav-bar {
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
  }
  
  .logo {
    width: 187px;
    background: url("./../../logo.svg");
    background-size: 122px 36.4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffe300;
  }
  
  .nav-bar-menu,
  .nav-bar-user-menu {
    display: flex;
    height: 100%;
  }
  
  .non-visible-wrap {
    display: none;
    color: $color-main;
    width: 200px;
    height: 150px;
    background-color: $background-color-nav;
    li {
      text-transform: uppercase;
    }
  }
  
  .cinema {
    display: flex;
    flex-direction: column;
    position: relative;
    a {
      padding-left: 20px;
    }
  }
  
  .cinema {
    a:hover {
      color: #ffe300;
    }
  }
  
  .cinema:hover {
    .non-visible-wrap {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 50px;
      padding: 20px 0 20px 5px;
    }
  }
  
  .non-visible-wrap {
    li a:hover {
      color: #ffe300;
    }
  }
  
  .nav-bar-menu {
    width: 314px;
  }
  
  .search-container {
    height: 100%;
    flex-grow: 2;
    display: flex;
    input {
      position: absolute;
      margin-left: 20px;
      padding-left: 30px;
      width: 300px;
      height: 40px;
      margin-top: -20px;
      background-color: #333333;
      border: none;
      outline: none;
    }
    input:focus {
      background-color: $color-main;
    }
    i {
      margin-top: -8px;
      position: absolute;
      margin-left: 25px;
      z-index: 3;
      color: black;
    }
    .search-bar {
      width: 300px;
      margin: auto 0;
      position: relative;
    }
  }
  
  .search-mobile {
    display: none;
  }
  
  .nav-bar-user-menu {
    width: 369px;
    justify-content: space-between;
    li:nth-child(1) a {
      color: #999999;
    }
    li:nth-child(2) a {
      color: $color-main;
    }
    li:nth-last-child(1) a {
      background-color: #ffe300;
      border-radius: 2px;
      width: 108px;
      height: 32px;
      color: #252525;
      padding: 8px 4px;
    }
  }
  
  .menu-item {
    cursor: pointer;
    display: flex;
    p,
    a {
      margin: auto;
    }
  }